
<div id="layoutSidenav_nav">
    @{ var userInfomatiom = (RegisterSubjectAsp.Models.User)Session["USER"]; }
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">

                <a class="nav-link collapsed" href="/Home/Index">
                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    Bảng điều khiển

                </a>
                @if (userInfomatiom.Role.id_role == 1)
                {
                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                       data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                        Quản lý thông tin
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne"
                         data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" href="/User/Index">Sinh viên</a>
                            <a class="nav-link" href="/User/ListGiangVien">Giảng viên </a>

                        </nav>
                    </div>
                    <a class="nav-link collapsed" href="/Subject/Index">
                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                        Quản lý môn học

                    </a>

                    <a class="nav-link collapsed" href="/Grade/Index">
                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                        Quản lý lớp

                    </a>
                    <a class="nav-link collapsed" href="/Course/Index">
                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                        Chương trình đào tạo
                    </a>
                    <a class="nav-link collapsed" href="/Schedule/Index">
                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                        Quản lý lịch
                    </a>
                }
                else if (userInfomatiom.Role.id_role == 2)
                {

                    <a class="nav-link collapsed" href="/Grade/ListGrade">
                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                        Danh sách lớp

                    </a>
                }
                else
                {

                    <a class="nav-link collapsed" href="/User/ListScore">
                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                        Xem điểm
                    </a>
                    <a class="nav-link collapsed" href="/Schedule/Index">
                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                        Đăng ký môn học
                    </a>
                    <a class="nav-link collapsed" href="/User/ListSchedule">
                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                        Môn học đã đăng ký
                    </a>
                    <a class="nav-link collapsed" href="/Course/Index">
                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                        Chương trình đào tạo
                    </a>
                }
            </div>
        </div>

    </nav>
</div>

