USE [master]
GO
/****** Object:  Database [DBRegisterSubject]    Script Date: 12/22/2021 1:40:25 PM ******/
CREATE DATABASE [DBRegisterSubject]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBRegisterSubject', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\DBRegisterSubject.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DBRegisterSubject_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\DBRegisterSubject_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBRegisterSubject].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBRegisterSubject]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 12/22/2021 1:40:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Courses]    Script Date: 12/22/2021 1:40:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses](
	[id_course] [int] IDENTITY(1,1) NOT NULL,
	[faculty] [nvarchar](255) NOT NULL,
	[id_subject] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Courses] PRIMARY KEY CLUSTERED 
(
	[id_course] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Grades]    Script Date: 12/22/2021 1:40:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Grades](
	[id_grade] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_dbo.Grades] PRIMARY KEY CLUSTERED 
(
	[id_grade] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 12/22/2021 1:40:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[id_role] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_dbo.Roles] PRIMARY KEY CLUSTERED 
(
	[id_role] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Schedules]    Script Date: 12/22/2021 1:40:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Schedules](
	[id_schedule] [int] IDENTITY(1,1) NOT NULL,
	[id_subject] [int] NOT NULL,
	[id_user] [int] NOT NULL,
	[id_grade] [int] NOT NULL,
	[open_day] [datetime] NOT NULL,
	[close_day] [datetime] NOT NULL,
	[status] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Schedules] PRIMARY KEY CLUSTERED 
(
	[id_schedule] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ScheduleStudents]    Script Date: 12/22/2021 1:40:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScheduleStudents](
	[id_schedule] [int] NOT NULL,
	[id_user] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ScheduleStudents] PRIMARY KEY CLUSTERED 
(
	[id_user] ASC,
	[id_schedule] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Scores]    Script Date: 12/22/2021 1:40:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Scores](
	[id_score] [int] IDENTITY(1,1) NOT NULL,
	[id_subject] [int] NOT NULL,
	[id_user] [int] NOT NULL,
	[mark] [real] NOT NULL,
 CONSTRAINT [PK_dbo.Scores] PRIMARY KEY CLUSTERED 
(
	[id_score] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subjects]    Script Date: 12/22/2021 1:40:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subjects](
	[id_subject] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[status] [int] NOT NULL,
	[code] [nvarchar](255) NULL,
	[credit] [nvarchar](255) NULL,
	[start_day] [datetime] NOT NULL,
	[end_day] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Subjects] PRIMARY KEY CLUSTERED 
(
	[id_subject] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 12/22/2021 1:40:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id_user] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](255) NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[fullname] [nvarchar](255) NOT NULL,
	[phoneNumber] [nvarchar](255) NULL,
	[address] [nvarchar](255) NOT NULL,
	[gender] [int] NOT NULL,
	[birthday] [nvarchar](255) NOT NULL,
	[status] [int] NOT NULL,
	[id_role] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[id_user] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Courses] ON 

INSERT [dbo].[Courses] ([id_course], [faculty], [id_subject]) VALUES (1, N'Lý luận chính trị', 3)
SET IDENTITY_INSERT [dbo].[Courses] OFF
GO
SET IDENTITY_INSERT [dbo].[Grades] ON 

INSERT [dbo].[Grades] ([id_grade], [name]) VALUES (1, N'Lớp chuyên ngành')
SET IDENTITY_INSERT [dbo].[Grades] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([id_role], [name]) VALUES (1, N'Khoa')
INSERT [dbo].[Roles] ([id_role], [name]) VALUES (2, N'Giảng viên')
INSERT [dbo].[Roles] ([id_role], [name]) VALUES (3, N'Sinh viên')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Schedules] ON 

INSERT [dbo].[Schedules] ([id_schedule], [id_subject], [id_user], [id_grade], [open_day], [close_day], [status]) VALUES (1, 1, 5, 1, CAST(N'2021-12-10T00:00:00.000' AS DateTime), CAST(N'2021-12-25T00:00:00.000' AS DateTime), 0)
INSERT [dbo].[Schedules] ([id_schedule], [id_subject], [id_user], [id_grade], [open_day], [close_day], [status]) VALUES (2, 3, 5, 1, CAST(N'2021-12-21T00:00:00.000' AS DateTime), CAST(N'2021-12-31T00:00:00.000' AS DateTime), 0)
INSERT [dbo].[Schedules] ([id_schedule], [id_subject], [id_user], [id_grade], [open_day], [close_day], [status]) VALUES (3, 1, 7, 1, CAST(N'2021-12-21T00:00:00.000' AS DateTime), CAST(N'2021-12-31T00:00:00.000' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[Schedules] OFF
GO
INSERT [dbo].[ScheduleStudents] ([id_schedule], [id_user]) VALUES (1, 2)
INSERT [dbo].[ScheduleStudents] ([id_schedule], [id_user]) VALUES (2, 2)
INSERT [dbo].[ScheduleStudents] ([id_schedule], [id_user]) VALUES (3, 2)
GO
SET IDENTITY_INSERT [dbo].[Scores] ON 

INSERT [dbo].[Scores] ([id_score], [id_subject], [id_user], [mark]) VALUES (1, 3, 3, 7.5)
INSERT [dbo].[Scores] ([id_score], [id_subject], [id_user], [mark]) VALUES (2, 1, 2, 7.5)
INSERT [dbo].[Scores] ([id_score], [id_subject], [id_user], [mark]) VALUES (3, 1, 3, 8.6)
SET IDENTITY_INSERT [dbo].[Scores] OFF
GO
SET IDENTITY_INSERT [dbo].[Subjects] ON 

INSERT [dbo].[Subjects] ([id_subject], [name], [status], [code], [credit], [start_day], [end_day]) VALUES (1, N'Toán cao cấp', 1, N'TCN21', N'3', CAST(N'2021-12-20T00:00:00.000' AS DateTime), CAST(N'2021-12-22T00:00:00.000' AS DateTime))
INSERT [dbo].[Subjects] ([id_subject], [name], [status], [code], [credit], [start_day], [end_day]) VALUES (3, N'Văn hóa học', 1, N'CT76', N'3', CAST(N'2021-12-21T00:00:00.000' AS DateTime), CAST(N'2021-12-24T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Subjects] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([id_user], [username], [email], [password], [fullname], [phoneNumber], [address], [gender], [birthday], [status], [id_role]) VALUES (1, N'admin', N'admin@gmail.com', N'admin', N'Quản trị', N'0123456789', N'Hà Nội', 1, N'12/12/1998', 1, 1)
INSERT [dbo].[Users] ([id_user], [username], [email], [password], [fullname], [phoneNumber], [address], [gender], [birthday], [status], [id_role]) VALUES (2, N'minhhuy', N'minhhuy@gmail.com', N'minhhuy', N'Tôn Minh Huy', N'0394073754', N'Hà Nội', 1, N'1999-12-07', 1, 3)
INSERT [dbo].[Users] ([id_user], [username], [email], [password], [fullname], [phoneNumber], [address], [gender], [birthday], [status], [id_role]) VALUES (3, N'dangphat', N'dangphat@gmail.com', N'dangphat', N'Nguyễn Đăng Phát', N'0394012345', N'Đà Nẵng', 0, N'1998-12-05', 1, 3)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [IX_id_subject]    Script Date: 12/22/2021 1:40:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_id_subject] ON [dbo].[Courses]
(
	[id_subject] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_id_grade]    Script Date: 12/22/2021 1:40:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_id_grade] ON [dbo].[Schedules]
(
	[id_grade] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_id_subject]    Script Date: 12/22/2021 1:40:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_id_subject] ON [dbo].[Schedules]
(
	[id_subject] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_id_user]    Script Date: 12/22/2021 1:40:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_id_user] ON [dbo].[Schedules]
(
	[id_user] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_id_schedule]    Script Date: 12/22/2021 1:40:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_id_schedule] ON [dbo].[ScheduleStudents]
(
	[id_schedule] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_id_user]    Script Date: 12/22/2021 1:40:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_id_user] ON [dbo].[ScheduleStudents]
(
	[id_user] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_id_subject]    Script Date: 12/22/2021 1:40:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_id_subject] ON [dbo].[Scores]
(
	[id_subject] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_id_user]    Script Date: 12/22/2021 1:40:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_id_user] ON [dbo].[Scores]
(
	[id_user] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_id_role]    Script Date: 12/22/2021 1:40:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_id_role] ON [dbo].[Users]
(
	[id_role] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Courses]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Courses_dbo.Subjects_id_subject] FOREIGN KEY([id_subject])
REFERENCES [dbo].[Subjects] ([id_subject])
GO
ALTER TABLE [dbo].[Courses] CHECK CONSTRAINT [FK_dbo.Courses_dbo.Subjects_id_subject]
GO
ALTER TABLE [dbo].[Schedules]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Schedules_dbo.Grades_id_grade] FOREIGN KEY([id_grade])
REFERENCES [dbo].[Grades] ([id_grade])
GO
ALTER TABLE [dbo].[Schedules] CHECK CONSTRAINT [FK_dbo.Schedules_dbo.Grades_id_grade]
GO
ALTER TABLE [dbo].[Schedules]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Schedules_dbo.Subjects_id_subject] FOREIGN KEY([id_subject])
REFERENCES [dbo].[Subjects] ([id_subject])
GO
ALTER TABLE [dbo].[Schedules] CHECK CONSTRAINT [FK_dbo.Schedules_dbo.Subjects_id_subject]
GO
ALTER TABLE [dbo].[Schedules]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Schedules_dbo.Users_id_user] FOREIGN KEY([id_user])
REFERENCES [dbo].[Users] ([id_user])
GO
ALTER TABLE [dbo].[Schedules] CHECK CONSTRAINT [FK_dbo.Schedules_dbo.Users_id_user]
GO
ALTER TABLE [dbo].[ScheduleStudents]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ScheduleStudents_dbo.Schedules_id_schedule] FOREIGN KEY([id_schedule])
REFERENCES [dbo].[Schedules] ([id_schedule])
GO
ALTER TABLE [dbo].[ScheduleStudents] CHECK CONSTRAINT [FK_dbo.ScheduleStudents_dbo.Schedules_id_schedule]
GO
ALTER TABLE [dbo].[ScheduleStudents]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ScheduleStudents_dbo.Users_User_id_user] FOREIGN KEY([id_user])
REFERENCES [dbo].[Users] ([id_user])
GO
ALTER TABLE [dbo].[ScheduleStudents] CHECK CONSTRAINT [FK_dbo.ScheduleStudents_dbo.Users_User_id_user]
GO
ALTER TABLE [dbo].[Scores]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Scores_dbo.Subjects_id_subject] FOREIGN KEY([id_subject])
REFERENCES [dbo].[Subjects] ([id_subject])
GO
ALTER TABLE [dbo].[Scores] CHECK CONSTRAINT [FK_dbo.Scores_dbo.Subjects_id_subject]
GO
ALTER TABLE [dbo].[Scores]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Scores_dbo.Users_id_user] FOREIGN KEY([id_user])
REFERENCES [dbo].[Users] ([id_user])
GO
ALTER TABLE [dbo].[Scores] CHECK CONSTRAINT [FK_dbo.Scores_dbo.Users_id_user]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Users_dbo.Roles_id_role] FOREIGN KEY([id_role])
REFERENCES [dbo].[Roles] ([id_role])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_dbo.Users_dbo.Roles_id_role]
GO
USE [master]
GO
